<section class="leader-bio">
  <header>
    <h4><%= leader.display_name %></h4>
    <div class="title"><%= leader.title %></div>
  </header>
  <div class="headshot">
    <%= profile_image(leader) %>
  </div>
  <div class="bio">
    <%= user_bio(leader) %>
  </div>
</section>
